/* Ensure the app container takes full height of the screen */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container takes at least the full screen height */
}

/* The content wrapper should grow to take available space */
.content-wrapper {
  flex-grow: 1; /* This allows content-wrapper to take up all available space */
  padding: 80px 40px 40px 300px;
  overflow-y: auto; /* Enables scrolling if content overflows */
}

/* Footer at the bottom */
footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* This makes sure the footer is pushed down */
}

footer p {
  margin: 0;
  font-size: 14px;
}
